*{
    margin: 0px;
    padding: 0px;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: cursive;
    background: url(/photoes/background.jpg) center, no-repeat;
    background-size: cover;
    height: 1000px;
    width: 100%;
    background-attachment: fixed;
}
nav{
    position: fixed;
    width: 100%;
    background-color: #fff;
    display: flex;
    padding:0px 60px;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    color: #3d3d3d;
    z-index: 1;
}
.logo_link{
    text-decoration: none;
    color: inherit;
}
.logo{
    font-size: 30px;
    letter-spacing: 4px;
}
.div_search{
    width: 30%;
    height: 40%;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 30%;
    outline: none;
    border: transparent;
}
.search{
    width: 100%;
    height: 100%;
    position: absolute;
    padding-left: 40px;
    border-radius: 30px;
    outline: none;
    border: 1px solid;
    background-color: rgb(255, 255, 255);
    color: rgb(66, 66, 66);
    letter-spacing: 3px;
    font-family: inherit;
}
.fa-search{
    z-index: 1;
    padding-left: 10px;
    color: rgb(203, 205, 207);
}
.fa-shopping-cart{
    transition: 0.4s;
    cursor: pointer;
}
.fa-shopping-cart:hover{
    transform: rotate(30deg);
    font-size: 20px;
}
.div_account{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 11%;
    cursor: pointer;
    margin-right: 90px;
}
.account{
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
}
main{
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #cfa670;
}
.sec_gallery{
    width: 87%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    overflow: hidden;
    transition: 500ms;
}
.sec_gallery:hover{
    background-color: rgb(245, 244, 244);
}
.div_library{
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.a_style{
    width: 30%;
    text-decoration: none;
    color: rgb(29, 29, 29);
    text-align: center;
    font-size: 18px;
    margin-top: 1rem;
    transition:  .3s ;
}
.a_style:hover{
    margin-top: 0px;
    padding-top: 1%;
}
.slider{
    background: url(/photoes/watch.jpg)center, no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
    animation: slide 40s ease-in-out infinite;
}

@keyframes slide{
    0%{
        background: url(/photoes/watch.jpg)center, center;
        background-size: cover;
    }
    10%{
        background: url(/photoes/watch1.jpg)center,center;
        background-size: cover;
    }
    20%{
        background: url(/photoes/watch2.jpg)center,center;
        background-size: cover;
    }
    30%{
        background: url(/photoes/watch3.jpg)center,center;
        background-size: cover;
    }
    40%{
        background: url(/photoes/watch4.jpg)center,center;
        background-size: cover;
    }
    50%{
        background: url(/photoes/watch5.jpg)center,center;
        background-size: cover;
    }
    60%{
        background: url(/photoes/watch6.jpg)center,center;
        background-size: cover;
    }
    70%{
        background: url(/photoes/watch7.jpg)center,center;
        background-size: cover;
    }
    80%{
        background: url(/photoes/watch8.jpg)center,center;
        background-size: cover;
    }
    90%{
        background: url(/photoes/watch9.jpg)center,center;
        background-size: cover;
    }
}
.sale_title{
    color: rgb(255, 0, 0);
    margin-top: 5rem;
    border-bottom: 2px dashed rgb(255, 0, 0);
}
span{
    color: #cfa670;
}
.div_container{
    width: 100%;
}
.div_img{
    display: flex;
    justify-content: space-around;
    margin: 4rem 0px;
}
.div_offers img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    transform: scale(1);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.div_img img:hover {
    transform: scale(1.03);
}

.div_price{
    height: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 23px;
    word-spacing: 10px;
}
.buybtn{
    width: 30%;
    height: 80%;
    outline: none;
    border: transparent;
    border-radius: 50px;
    background-color: #ff0000;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
}
.buybtn:hover{
    background-color: #d81b1b;
}

.div_pros{
    border-top: 1px dashed;
    display: flex;
    flex-direction: column;
    padding: 0px 80px;
}
.pros{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.pros img{
    height: 400px;
    width: 450px;
}
.mans_title{
    margin: 40px;
    border-bottom: 2px dashed;
}
.slideshow_man{
    position: relative;
    width: 70%;
    height: 600px;
    overflow: hidden;
}
.slideshow_man input{
    position: absolute;
    visibility: hidden;
}
.navigation{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
.bar{
    width: 40px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid #cfa670; 
    margin: 6px 30px; 
    cursor: pointer;
    transition: 600ms;
}
  
.bar:hover{
    background: #cfa670;
}
.slides_man{
    width: 500%;
    height: 100%;
    display: flex;
}
.manwatch_imgs{
    display: flex;
    justify-content: center;
    width: 20%;
    height: 100%;
}
.manwatch_imgs button{
    border-radius: 30px;
    border: transparent;
    background-color: red;
    color: #fff;
    position: absolute;
    top: 91.5%;
    left: 5%;
    height: 5%;
    width: 10%;
    transition: 500ms;
}
.manwatch_imgs button:hover{
    background-color: #fff;
    color: red;
    letter-spacing: 5px;
}
.manwatch_imgs img{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
#r1:checked ~ .s1{
    margin-left: 0;
    transition: 500ms;
}
#r2:checked ~ .s1{
    margin-left: -20%;
    transition: 500ms;
}
#r3:checked ~ .s1{
    margin-left: -40%;
    transition: 500ms;
}
#r4:checked ~ .s1{
    margin-left: -60%;
    transition: 500ms;
}
#r5:checked ~ .s1{
    margin-left: -80%;
    transition: 500ms;
}
footer{
    background-color: rgb(39, 39, 39);
    height: 350px;
}
.footer_sec{
    display: flex;
    justify-content: center;
}
.div_footer{
    display: flex;
    flex-direction: column;
    width: 23%;
}
.div_subscribe{
    width: 25%;
}
.div_footer h1{
    font-size: 25px;
    font-weight: 100;
    padding-top: 2rem;
    color: #fff;
}
.links{
    text-decoration: none;
    margin-top: 1.5rem;
    color: rgb(138, 137, 137);
    transition: 300ms;
    width: 45%;
}
.links:hover{
    color: #cfa670;
}
.soc-links{
    margin: 2rem 0rem;
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.soc-links a{
    color: #cfa670;
}
.para{
    color: rgb(138, 138, 138);
    margin: 4rem 0rem 1rem 0rem;
}
.subscribe{
    display: flex;
    height: 2.5rem;
}
input[type="email"]{
    height: 100%;
    width: 80%;
    padding-left: 10px;
    outline: none;
    border: transparent;
}
.subscribe_btn{
    height: 100%;
    width: 20%;
    font-size: 10px;
    border-top-left-radius: 0px;
    outline: none;
    border: transparent;
    background-color: #cfa670;
}

.order-btn{
    position: fixed;
    left: 10px;
    bottom: 50px;
    background-color: rgba(255, 255, 255, 0.849);
    color: rgb(29, 29, 29);
    height: 5%;
    width: 5%;
    border: transparent;
    transition: 300ms;
}
.order-btn:hover{
    background-color: #000;
    color: #fff;
}
@media ALl and (max-width: 1445px) {
    .account_para{
        visibility: hidden;
        font-size: 0px;
    }
    .account{
        justify-content: center;
    }
}
@media All and (max-width: 1290px) {
    .div_offers img{
        height: 150px;
        width: 150px;
    }
    .manwatch_imgs button{
        left: 2%;
        top: 80%;
    }
}
@media All and (max-width: 950px) {
    .slider{
        height: 350px;
    }
    .div_offers img{
        height: 100px;
        width: 100px;
    }
    .div_price{
        flex-direction: column;
        height: 40%;
        justify-content: space-between;
    }
    .buybtn{
        width: 100%;
        height: 40%;
    }
    .div_offers{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 11rem;
    }
    .div_footer h1{
        font-size: 18px;
    }
    .div_footer a{
        font-size: 11px;
    }
    .subscribe_btn{
        overflow-x: hidden;
    }
    .pros{
        flex-direction: column;
    }
    .reverse{
        flex-direction: column-reverse;
    }
    .slideshow_man{
        height: 400px;
    }
}
@media All and (max-width: 780px) {
    .para{
        font-size: 11px;
        margin-top: 0px;
    }
    .order-btn{
        margin-left: 3%;
    }
    #email{
        font-size: 10px;
    }
    .subscribe{
        width: 180%;
        margin-left: -50px;
    }
    .subscribe_btn{
        font-size: 50%;
    }
    .div_price p{
        font-size: 15px;
    }
    .bar {
        width: 20px;
        height: 20px;
        margin: 3px 15px;
    }
}
@media All and (max-width: 630px){
    .div_footer h1{
        font-size: 15px;
    }
    .logo{
        font-size: 20px;
    }
    .slogan{
        font-size: 8px;
    }
    .div_account{
        width: 20%;
    }
    .order-btn{
        font-size: 15px;
        margin-left: 0px;
        width: 3.2rem;
    }
    .slider{
        height: 250px;
    }
    .a_style{
        font-size: 13px;
    }
    .div_offers img{
        width: 70px;
        height: 70px;
    }
    .buybtn{
        font-size: 12px;
        width: 130%;
    }
    .soc-links{
        flex-direction: column;
        justify-content: space-between;
    }
    .div_img{
        margin: 0px;
    }
    .div_offers{
        justify-content: center;
    }
    .slideshow_man{
        height: 300px;
    }
    .manwatch_imgs button{
        height: 10%;
    }
    footer{
        height: 400px;
    }
    .footer_sec{
        justify-content: space-around;
    }
    .subscribe{
        width: 180%;
        margin-left: -100px;
    }
}
@media All and (max-width: 500px) {
    .div_logo{
        margin-left: -40px;
    }
    .div_footer h1{
        font-size: 10px;
    }
    .div_footer a{
        font-size: 10px;
    }
    .div_price{
        justify-content: center;
    }
    .div_price p{
        font-size: 14px;
    }
    .slideshow_man{
        height: 200px;
    }
    .bar{
        margin: -10px 5px;
    }
    .order-btn{
        font-size: 10px;
        width: 2.5rem;
        height: 2rem;
    }
    .subscribe{
        width: 180%;
        margin-left: -80px;
    }
}
@media All and (max-width: 400px) {
    .slider{
        height: 150px;
    }
    .div_offers img{
        height: 50px;
        width: 50px;
    }
    .div_price p{
        font-size: 8px;
    }
    .buybtn{
        font-size: 8px;
    }
}
